*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  background: linear-gradient(270deg,rgb(11, 184, 97) 0%,rgb(32, 163, 163) 100%);
  min-height: 100vh;
}