.Auth{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.Auth form{
    background-color: rgb(3, 158, 36);
    padding: 25px;
    border-radius: 5px;
    height: 30px;
    width: 25%;
    min-width: 300px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}